<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="top.maybesix.xhhttp" >
    <uses-permission android:name="android.permission.INTERNET" />
    <application>
        <provider
            android:name=".provider.ApplicationContextProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"/>
    </application>
</manifest>